{% extends "../post_base/base.html" %}

{% block title %}
<title>Sparkling Coffee Club | 댓글 수정 </title>
{% endblock title %}

{% block content %}
    
        <div class='comment_update-comment_box'>
            <form class="form" method="post" style="border-radius:5px; ">
                {% csrf_token %}                
                <div class="comment_update-sign_up_text">
                    <div class='comment_update-comment_box_in_wrap'>
                        <div class='comment_update-message'>댓글을 수정해주세요</div>
                        <div>
                        </div>
                        <form class="comment-update-form"
                            method="post">
                            {% csrf_token %}
                            <div class='comment_update-box_style'>
                            <input class='comment_update-input_style' name='content' placeholder='댓글 달기...' class='cp-input' type='text' value='{{ comment.content }}' />
                            </div>
                            
                        </form>
                    </div>
                    <div>
                        <button class="comment_update-btn" class="submit_btn" type="submit"><b>수정</b></button>
                    </div>
                </div>
            </form>
        </div>
    
{% endblock content %}