{% extends "../post_base/base.html" %}
{% load static %}
{% block post-update-style%}
<script>

</script>
{% endblock %}
{% block title %}

<title>Sparkling Coffee Club | {{ user.username }}의 게시글 수정 </title>


{% endblock title %}

{% block content %}
<section id="container">
    <div id="main_container">
        <div class="post_form_container">
            <div>
                <div class='post_create-create_box'>
                    <div class='post_create-create_box-main'>
                        <div class="preview">
                            <div class='post_create-create_box-right_load'style="margin:auto;margin-top:20px;">      
                                <img src="{{dessert.image.url}}" style="width:100%;" name="dess_img">
                                <p style="text-align: center;">{{dessert.dessert_name}}</P>
                            </div>
                        </div>
                        <hr>
                        <form class="post_form" method="post" autocomplete="off">
                            {% csrf_token %}
                            <input type="hidden" name="dess_id" value="{{dess_id}}">
                            <input type="hidden" name="dess_ingred" value="{{dess_ingred}}">
                            <input type="hidden" name="dess_image" value="{{dess_image}}">
                            <div class="title" style ='padding:auto;'>
                                <input class='post_create-create_box-title_input' name="title" type="text"
                                    placeholder="제목 입력..." value={{post.title}}>
                            </div>
                            <p >
                                <textarea name="content" id="summernote">{{post.content}}</textarea>
                            </p>
                            <button class="post_create-create_box-save_btn" type="submit"><b>저장</b></button>
                        </form>
                    </div>
                </div>
                <div style='margin-top: 22px;'>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // 이미지미리보기
    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
    }

    $('#summernote').summernote({
        placeholder: '내용을 입력해주세요',
        tabsize: 2,
        width: 550,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
        ],
    });


    var fileInput = document.querySelector("#id_photo"),
        button = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");
    fileInput.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');
    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = new Image();
            // var imgWidth =
            img.onload = function () {
                canvas.width = 200;
                canvas.height = 200;
                ctx.drawImage(img, 0, 0, 200, 200);
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
    }

</script>
{% endblock content %}