{% extends "../post_base/base.html" %}
{% load static %}

{% block title %}
    <title>Sparkling Coffee Club | {{ post.title }}</title>
{% endblock title %}
<!-- Add your site or app content here -->
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div  class='post_detail-feed_box'>
                <div class='post_detail-feed_box-left'>
                    <div class="section-container-spacer post_detail-feed_box-title_container">
                        <div class='post_detail-feed_box-title'>{{ post.title }}</div>
                    
                    </div>
                    <div class="section-container-spacer">
                        <div class='post_detail-feed_box-img_wrap'>
                            <img class="img-responsive" alt="" src="{{ post.image.url }}">
                        </div>
                    </div>
                </div>

                <div class='post_detail-feed_box-right'>
                    <div class='post_detail-feed_box-comment_box'>
                        <div class='post_detail-feed_box-comment_wrap'>
                            <div class='post_detail-feed_box-right_top'>
                                <div>{{ post.author.username }}</div>
                                {% if request.user == post.author %}
                                <div class='dropdown'>
                                    <a><img class='horiz_img' src="{% static './assets/more_horiz.png'%}"/></a>
                                
                                        <div class='dropdown-content'>
                                            <a href="{% url 'post:post-update' post.id %}">수정</a>
                                            <a href="{% url 'post:post-delete' post.id %}">삭제</a>
                                        </div>
                                </div>
                                {% endif %}
                            </div>
                        
                            <div class='post_detail-feed_box-content'>{{ post.content | safe }}</div>
                            
                            {% for comment in post.comments.all %}
                            <div class='post_detail-feed_box-comment_list_wrap'>
                                <div class="post_detail-feed_box-comment_list">
                                    <div class="user_id" style='margin-right:15px;'>{{ comment.author.username }}</div>
                                    <div> {{ comment.content }}</div>
                                </div>
                                <div class='post_detail-feed_box-comment_crt'>
                                    <div class="time">{{ comment.modified_at }}</div>

                                    {% if user == comment.author %}
                                    <div class='dropdown'>
                                        <a><img class='horiz_img' src="{% static './assets/more_horiz.png'%}"/></a>
                                        <div class='dropdown-content'>
                                            <a href="{% url 'post:comment-update' comment.id %}">수정</a>
                                            <a href="{% url 'post:comment-delete' comment.id %}">삭제</a>
                                        </div>
                                    </div>
                                    {% endif %} 

                                </div>   
                            </div>
                            {% endfor %}

                        </div>
                    </div>


                    
                    <form action='{% url 'post:post-likes' post.id %}' method='post'>
                        {% csrf_token %}
                        <div class='post_detail-feed_box-like_bar'>
                            
                            {% if user in post.like_authors.all %}
                            <div class='post_detail-feed_box-like_wrap'><button class='post_detail-feed_box-like_button'><img src="{% static './assets/like.png'%}"/></button></div>
                            {% else %}
                            <div class='post_detail-feed_box-like_wrap'><button class='post_detail-feed_box-like_button'><img src="{% static './assets/like_empty.png'%}"/></button></div>
                            {% endif %}
                            <div class='post_detaile-feed_box-like_count_text'>좋아요{{post.like_authors.count}}개</div>
                        
                        </div>
                    </form>
                    
                    <form
                    action="{% url 'post:comment-create' post.id %}"
                    method="post">
                        {% csrf_token %}
                        <div class='post_detaile-feed_box-comment_write_box'>                       
                          <div class='post_detaile-feed_box-comment_write_wrap'>
                            <input class='post_detaile-feed_box-input_box' type="text" name='content' placeholder="댓글 달기 ..."/>
                          </div>
                          <button type="submit" class='post_detaile-feed_box-comment_button'>
                             게시
                          </button>
                        </div>
                    </form>

                </div>
            </div>
            <h3>Dessert Recommend</h3>
            <div class='post_detaile-recommend_box'>
                <div class="grid-item">
                    <img class="img-responsive" alt="" src="{{ post.image.url }}">
                    <a href="#" class="project-description">
                        <div class="project-text-holder">
                            <div class="project-text-inner">
                                <h5>음식 레시피 이름</h5>
                                <p>Recipe More</p>
                            </div>
                        </div>
                    </a>
                </div>
            
                <div class="grid-item" >
                    <img class="img-responsive" alt="" src="{{ post.image.url }}">
                    <a href="#" class="project-description">
                        <div class="project-text-holder">
                            <div class="project-text-inner">
                                <h5>음식 레시피 이름</h5>
                                <p>Recipe More</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <img class="img-responsive" alt="" src="{{ post.image.url }}">
                    <a href="#" class="project-description">
                        <div class="project-text-holder">
                            <div class="project-text-inner">
                                <h5>음식 레시피 이름</h5>
                                <p>Recipe More</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>    
        </div>
    </div>
{% endblock content %}
