{% extends "../post_base/base.html" %}
{% load static %}

{% block title %}
<title>Sparkling Coffee Club | {{ user.username }}의 게시글 생성 </title>
{% endblock title %}

{% block content %}
<section id="container">
    <div id="main_container">
        <div class="post_form_container">
            <form class="post_form" method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <input name="title" type="text" placeholder="제목을 입력해주세요">
                </div><br>
                <div>
                    <input name="image" type="file" onchange="setThumbnail(event);" >
                    <div id="image_container"></div>
                </div>
                <p>
                    <textarea name="content" id="summernote"></textarea>
                </p>
                <button class="submit_btn" type="submit">저장</button>
            </form>
        </div>
    </div>
</section>

<script>
    // 이미지업로드
    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
      }

    $('#summernote').summernote({
      placeholder: '내용을 입력해주세요',
      tabsize: 2,
      width: 500,
      height: 120,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
      ]
    });
  </script>
{% endblock content %}