{% extends "../post_base/base.html" %}
{% load static %}
{% block post-update-style%}
<script>

</script>
{% endblock %}
{% block title %}

<title>Sparkling Coffee Club | {{ user.username }}의 게시글 수정 </title>




{% endblock title %}
<!-- 자바스크립트 추가예정 -->
{% block content %}

<section id="container">
    <div id="main_container">
        <div class="post_form_container">
            <div>
                <form class="post_form" method="post" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class='post_create-create_box'>
                            <div class="title">
                                <input name="title" class='post_update-create_title' placeholder="제목 입력..." type="text" value='{{post.title}}'>
                            </div>
                        <div class='post_create-create_box-main'>
                            <div class="preview">
                                <div class="post_create-create_box-upload">
                                    <div class="post_update-box_img" style=' margin:5px 17px 15px 19px;'>
                                            <div class="plus_icon">
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <canvas class='post_update-update_box-canvas' id="imageCanvas"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class='post_create-create_box-file_pick'>
                                <div>
                                    <input id='id_photo' value='{{ post.image.url }}' name="image" type="file">  
                                </div>
                                
                            </div>
                            <p>
                                <textarea name="content" id="summernote">{{post.content}}</textarea>
                            </p>
                        </div>
                    </div>
                    <div style='margin-top: 22px;'>
                        <button class="post_create-create_box-save_btn" type="submit"><b>저장</b></button>
                    </div>
                    {% comment %} <input name="image" type="file" onchange="alert(this.value)">{% endcomment %}
                <!-- <img src="{{ post.image.url }}"> -->
                </form>
            </div>

        </div>
    </div>
</section>

<script>
    $('#summernote').summernote({
    placeholder: '내용을 입력해주세요',
    tabsize: 2,
    width: 500,
    height: 120,
    toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
    ]
    });







    var fileInput  = document.querySelector( "#id_photo" ),
    button = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
    fileInput.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');
    function handleImage(e){
    var reader = new FileReader();
    reader.onload = function(event){
        var img = new Image();
        // var imgWidth =
        img.onload = function(){
            canvas.width = 400;
            canvas.height = 400;
            ctx.drawImage(img,0,0,400,400);
        };
        img.src = event.target.result;
    };
    reader.readAsDataURL(e.target.files[0]);
    }

</script>
{% endblock content %}