{% extends "../post_base/base.html" %}

{% load static %}
{% block title %}
    <title>Sparkling Coffee Club|{{ user.username }}</title>
{% endblock title %}
<!-- Add your site or app content here -->
{% block content %}
<h3>My Dessert of {{ user.username }}</h3>
{% if posts %}
    <div class="hero-full-wrapper">
        <div class="grid">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            {% for post in posts %}
                <div class="grid-item">
                    <img class="img-responsive" alt="" src="{{ post.image.url }}">
                    <a href="{% url 'post:post-detail' post.id%}" class="project-description">
                        <div class="project-text-holder">
                            <div class="project-text-inner">
                                <h3>{{ post.title | truncatechars:10 }}</h3>
                                <p>Review More</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
<h1>게시글 없음</h1>
{% endif %}
{% endblock content %}