{% extends "../post_base/base.html" %}
{% load static %}

{% block title %}
    <title>Sparkling Coffee Club | 게시글 생성 </title>
{% endblock title %}

{% block content %}
<section id="container">
    <div id="main_container">
        <div class="post_form_container">
            <form class="post_form" method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <input name="title" type="text">
                </div>
                <div class="preview">
                    <div class="upload">
                        <div class="post_btn">
                            <div class="plus_icon">
                                <span></span>
                                <span></span>
                            </div>
                            <p>게시글 이미지 추가</p>
                            <canvas id="imageCanvas"></canvas>
                        </div>
                    </div>
                </div>
                <p>
                <input name="image" type="file">   
                </p>
                <p>
                    <textarea name="content"></textarea>
                </p>
                <button class="submit_btn" type="submit">저장</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}