{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link href="  {% static 'assets/apple-icon-180x180.png'%}" rel="apple-touch-icon">
  <link href="  {% static 'assets/favicon.ico'%}" rel="shortcut icon">
  

{% block title %}{% endblock title %}


<link href="  {% static 'css/main.82cfd66e.css'%}" rel="stylesheet">
<link href=" {% static 'css/post_detail.css'%}" rel='stylesheet'>
<link href=" {% static 'css/post_create.css'%}" rel='stylesheet'>

</head>
<body>

    <!-- Add your content of header -->
    <header class="">
      <div class="navbar navbar-default visible-xs">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'post:index' %}" class="navbar-brand">Sparkling Coffee Club</a>
      </div>
    
      <nav class="sidebar" style='border-right: 1px solid rgb(219,219,219)';>
        <div class="navbar-collapse" id="navbar-collapse">
          <div class="site-header hidden-xs" style='border-bottom: 1px solid rgb(219,219,219);'>
              <a class="site-brand" href="{% url 'post:index' %}" title="">
                <img class="site-logo" alt="" src="{% static './assets/images/mashup-logo.svg'%}" width='45px' height='30px'>
                Sparkling Coffee Club
              </a>
            <p>디저트를 추천해주는 서비스</p>
            {% if user.is_authenticated%}
            <p><b>{{user.username }}</b>님 환영합니다.
            {% endif %}
          </div>
          <ul class="nav">
            
            <form class="d-flex" action="{% url 'post:search' %}" method="get">
              <input style='border-radius:30px; margin-bottom:15px; border:2px solid #FFCD48;' class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="keyword" value="{{keyword}}" >
            </form> 

            <li><a href="{% url 'post:index' %}" title="">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'post:my-list' user.id %}" title="">MyDesset</a></li>
            <li><a href="{% url 'post:post-create' %}" title="">DessertCreate</a></li>
            <li><a href="{% url 'post:like-list' user.id %}" title="">DessertLike</a></li>
            <li><a href="{% url 'recipe:recipe-like-list' user.id %}" title="">RecipeLike</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'user:signin' %}">Sign In</a></li>
            <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
    
          <nav class="nav-footer">
            <p class="nav-footer-social-buttons">
              <a class="fa-icon" href="https://github.com/1TEAM12/object-recognition-project" title="">
                <i class="fa fa-github"></i>
              </a>
            </p>
            <p style='font-size: 12px;'>© Copyrignt | Sparkling Coffee Club</p>
          </nav>  
        </div> 
      </nav>
    </header>
    <main class="" id="main-collapse">
        {% block content %}
        {% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        masonryBuild();
    });
</script>
    
    </main>
    
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
    navbarToggleSidebar();
    navActivePage();
    });
    </script>
    
    <script type="text/javascript" src="  {% static '/js/main.85741bff.js'%}"></script></body>
    
</html>