{% extends "../user_base/base.html" %}

{% block title %}Sparkling Coffee Club | Sign Up{% endblock title%}

{% block content %}
<div class="container">
    <!-- Heading -->
    <h1>Sign Up</h1>
    
    <!-- Links -->
    <ul class="links">
    <li>
        <a href="{% url 'user:signin' %}">SIGN IN</a>
    </li>
    <li>
        <a href="{% url 'user:signup' %}" >SIGN UP</a>
    </li>
    </ul>
    
    <!-- Form -->
    <form method="post">{% csrf_token %}
    <!-- email input -->
    <div class="input__block">
        <input type="email" placeholder="Email" class="input" name='email' maxlength="50"   />
    </div>
    <!-- username input -->
    <div class="input__block">
        <input type="text" placeholder="Username" class="input" name='username' maxlength="10"   />
    </div>
    <!-- password input -->
    <div class="input__block">
        <input type="password" placeholder="Password" class="input" name='password'   />
    </div>
    <!-- repeat password input -->
    <div class="input__block">
        <input type="password" placeholder="Repeat Password" class="input" name='repeatpassword'   />
    </div>
    {% if error %}
    <div class="alert alert-danger" >
        {{ error }}
    </div>
    {% endif %}
    <!-- sign up button -->
    <button class="signin__btn">
        Sign Up
    </button>
    </form>
    <!-- separator -->
    <div class="separator">
        <p>OR</p>
    </div>
    <!-- kakao login -->
    <a href="{% url 'user:kakao-login' %}" style='text-decoration:none;'>
    <button class="google__btn">
        <i class="fa fa-comment"></i>
        Sign in with Kakao
    </button>
    </a>
</div>


{% endblock content %}
