{% extends "../user_base/base.html" %}

{% block title %}<title>Sparkling Coffee Club | Sign In</title>{% endblock title%}

{% block content %}
<div class="container">
    <!-- Heading -->
    <h1>Sign In</h1>
    
    <!-- Links -->
    <ul class="links">
    <li>
        <a href="{% url 'user:signin' %}" >SIGN IN</a>
    </li>
    <li>
        <a href="{% url 'user:signup' %}" >SIGN UP</a>
    </li>
    </ul>
    
    
    <!-- Form -->
    <form method="post">{% csrf_token %}
    <!-- email input -->
    <div class="input__block">
        <input type="email" placeholder="Email" class="input" name='email' maxlength="50"   />
    </div>
    <!-- password input -->
    <div class="input__block main">
        <input type="password" placeholder="Password" class="input" name='password'   />
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert" style="margin: 15px 10px 20px 25px; display: block; position: relative; width: 627px; padding: 0.75rem 0.5rem; border-radius: 8px;"  >
        {{ error }}
    </div>
    {% endif %}
    <!-- sign in button -->
    <button class="signin__btn">
        Sign In
    </button>
    </form>
    <!-- separator -->
    <div class="separator">
        <p>OR</p>
    </div>
    <!-- kakao login -->
    <a href="{% url 'user:kakao-login' %}" style='text-decoration:none;'>
    <button class="google__btn">
        <i class="fa fa-comment"></i>
        Sign in with Kakao
    </button>
    </a>
</div>


{% endblock content %}
