{% extends "user/user_base/base.html" %}

{% block title %}Sparkling Coffee Club | User list {% endblock title%}

{% block content %}
<div class="container timeline-container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="card-title">{{ user.username }} 님!</h4>
                        <h5> follower : {{ user.followee.count }} 명 / following : {{ user.follow.count }} 명</h5>
                    </div>
                    <p> 더 많은 사람들을 팔로우해보세요! </p>
                </div>
            </div>
        </div>
        <br><hr><br>
        <div class="col-md-7">
            <div class="row">
                <h4>팔로우 가능한 사람들</h4>
                {% for ul in user_list %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ ul.username }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <p class="card-text">
                                    folloewing {{ ul.follow.count }} 명 / follower {{ ul.followee.count }} 명
                                </p>
                                {% if ul in user.follow.all %}
                                    <a href="/user/follow/{{ ul.id }}" class="card-link">[팔로우 취소]</a>
                                {% else %}
                                    <a href="/user/follow/{{ ul.id }}" class="card-link">[팔로우]</a>
                                {% endif %}
                            </h6> 
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}